body {
background-color: rgb(27, 107, 205);
color: white;
font-family:"Roboto Condensed", sans-serif;";
display: flex;
justify-content: center;
align-items:center;
height: 700px;
margin:0;
}

button {
background-color: rgb(3, 3, 155);
color: white;
font-family:"Roboto Condensed", sans-serif;";
}

.passo{
    display: none;
}

.passo.ativo{
    display:block;
}


maim{
    text-align: center;
    max-width: 30%;
}

img{
    max-width: 30%;
}